/*
  * 全局样式
*/

body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  /* user-select: none; */
}

#app {
  height: 100%;
  width: 100%;
}

/* 滚动条 */
::-webkit-scrollbar {
  background-color: #fff;
  width: 2px;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 0;
}
::-webkit-scrollbar-button {
  background-color: #2474b5;
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-corner {
  background-color: black;
}

/*
  * 隐藏高德地图logo
*/
.amap-logo {
  opacity: 0;
}
/*
  * 高德地图 搜索提示
*/
.amap-sug-result {
  z-index: 999999;
}

.el-dialog__body {
  padding: 10px !important;
}

